@media only screen and (min-width: 18.75em) and (max-width: 50em) {
  	.foot-menu nav li a, .foot-menu nav li a:hover, .foot-menu nav li a:focus{
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
		border-radius: 0px !important; 
	}

	.foot-menu .navbar-collapse{
		padding-left:0px;
		padding-right:0px;
	}

	.foot-menu .navbar-collapse .navbar-nav{
		margin:0;
		display: block !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1300px){
	.foot-menu ul>li{
		min-width: 150px !important;
	}

	.foot-menu nav li a, .foot-menu nav li a:hover, .foot-menu nav li a:focus{
		padding:5px 40px !important;
	}
}

@media (max-width: 767px) {
    .logo-cabaran {
        margin-top:80px !important;
		margin-left: 0 !important;
    }

    .margin-top-200 {
        margin-top:50px !important;
    }
    .padding-right-110{
    	padding-right: 0 !important;
    }
}

html{
	position: relative;
	min-height: 100%;
}

body{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 12pt;
	margin-bottom: 30px;
}

.container-fluid{
	padding-left:0 !important;
	padding-right:0 !important;
}

.bg-default-front{
	background: #FFF;
}

.bg-turquoise-grad{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,bbedea+50,3ccec4+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #bbedea 50%, #3ccec4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#bbedea 50%,#3ccec4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#bbedea 50%,#3ccec4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3ccec4',GradientType=0 ); /* IE6-9 */
}

.bg-light-turquoise-grad{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9f6f4+0,c9f2ee+53,9ae7e1+100 */
	background: #d9f6f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #d9f6f4 0%, #c9f2ee 53%, #9ae7e1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #d9f6f4 0%,#c9f2ee 53%,#9ae7e1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #d9f6f4 0%,#c9f2ee 53%,#9ae7e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9f6f4', endColorstr='#9ae7e1',GradientType=0 ); /* IE6-9 */
	border: 2px solid #6ed7d3;
}

.bg-grey{
	background-color: #e7eded;
}

.navbar-turquoise{
	background-color: #26A9E0;
	color:#FFFFFF;
}

.navbar-turquoise>#navbar-header>.nav>li>a:hover, .navbar-turquoise>#navbar-header>.nav>li>a:focus, .navbar-turquoise>#navbar-header>.nav>li.active>a{
	border-bottom: 3px solid #EC1C24;
	background: transparent;
}

.navbar-turquoise>#navbar-header>.nav>li>a{
	color:#FFF !important;
}

.btn-dark-turquoise{
    color: #fff;
    background-color: #26A9E0;
    border-color: #26A9E0;
    padding:6px 20px !important;
    margin-bottom: 10px;
}

.btn-grey{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding:6px 20px !important;
    margin-bottom: 10px;
}


a.link-turqouise{
	color: #00979a;
	text-decoration: underline;
}

.table-dark th {
    background-color: #898d98 !important;
    color: #FFFFFF !important;
}

.table-dark>tbody>tr:nth-child(even)>td, .table-dark>tbody>tr:nth-child(even)>th {
    background-color: #f9f9f9 !important;
}

.part-logo-wrap{
	margin: 30px 0;
	border-bottom: 2px solid #2E3191;
	padding-bottom:30px;
}

.bg-light-grey{
	background-color: #f2f5f5;
	padding-right:35px;
	padding-bottom: 30px;
}

.text-navy{
	color: #2b2f55;
}

.margin-top-10{
	margin-top: 10px;
}

.margin-top-30{
	margin-top: 30px;
}

.margin-top-100{
	margin-top: 100px;
}

.login-box{
    padding-top:40px;
    padding-bottom: 20px;
}

.form-control-feedback{
	top:0 !important;
}

.no-padding{
	padding:0 !important;
}

.no-padding-left{
	padding-left:0 !important;
}

.padding-top-10{
	padding-top:10px;
}

.margin-btm-20{
	margin-bottom: 20px;
}

.footer {
    top: 0;
    width: 100%;
    z-index:2;
}

.foot-content{
	background-color: #333234;
	height: 40px;
}

.foot-menu .navbar{
	margin: 0;
	background: #000000;
	min-height: 20px;
	border: none;
}

.foot-menu .navbar-brand{
    line-height: 13px;
    height: 110px;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
}

.foot-menu .navbar .navbar-header{
	margin: 0;
	background: #000000;
	min-height: 20px;	
}

.foot-menu nav li a, .foot-menu nav li a:hover, .foot-menu nav li a:focus, .foot-menu nav li.active a{
	background: #000000 !important;
	color:#FFF !important;
    line-height: 13px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    height: 30px;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 27px;
}

.foot-menu nav li.active a, .foot-menu nav li a:hover{
	border-bottom: 1px solid #FFF;
}

.foot-menu .navbar-nav.navbar-right:last-child{
	margin-right: 0 !important;
}

.foot-content{
	color:#FFF;
	font-size: 10pt;
}

.foot-menu ul>li{
	text-align: center;
	margin-right:3px;
	height:30px;
}

.foot-menu .nav.navbar-nav{
	display: inline-block;
	float: none;
}

#navbar-footer{
	text-align:center;
}

.margin-btm-100{
	margin-bottom: 100px;
}

.footer-default{
	padding:5px 0 !important;
	font-size: 10pt;
	position:absolute;
	bottom: 0;
	height: 30px;
    z-index: 2;
    margin-top: 20px;
}

.footer-grey{
	background-color: #989e9e;
	color:#FFF;
}

.margin-top-50{
	margin-top: 50px;
}

.margin-top-10{
	margin-top: 10px;
}

.padding-btm-20{
	padding-bottom: 20px;
}

.margin-top-100{
	margin-top: 80px;
}

.text-green {
    color: #66af73;
}

.text-blue {
    /*color: #74b5ca;*/
    color: #0000cc;
}

.text-yellow {
    color: #ffcc00;
}

.text-red {
    color: #ff0000;
}

.table-evaluation-form{
	width:100%;
	margin-bottom: 30px;
}

.table-evaluation-form tr>td>table{
	width:100%;
}

.table-evaluation-form tr>td, #table-evaluation-form tr>th{
	padding:5px;
}

.table-evaluation-form .form-group{
	padding: 0 10px;
}

.table-evaluation-form .head{
	background-color: #888d97;
}

.table-evaluation-form .head th{
	text-align: center;
	color: #FFFFFF;
}

.font-16px{
        font-size: 16px;
}

.margin-top-130{
	margin-top: 130px;
}

.report-filter-act{
	margin-top: 28px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.bg-white-trans{
	background: #FFF;
	border: 1px solid #000;
	border-radius: 10px; 
}

.margin-top-170{
	margin-top: 170px;
}

.btn-red{
	background: #EC1C24;
	color : #FFF;
	font-weight: bold;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
}

.btn-red:hover{
	background: #2E3191;
	color:#FFF;
}

.link-red{
	color:#EC1C24;
}

.footer-btn{
	position: fixed;
	bottom: 0;
}

.footer-btn a{
	padding:12px 50px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0; 
}

.padding-right-110{
	padding-right: 110px;
}

.triple-logo{
	position: absolute;
    top: 80;
}

.margin-top-200{
	margin-top:200px;
}

.article-content img{
	width:100% !important;
}

.margin-left-28per{
	margin-left: 28%;
}

.icon-bar.text-white{
	background: #FFF;
}

.logo-cabaran{
	margin-left: 20%;
}

.btn-black{
	background: #000;
	color : #FFF;
	font-weight: bold;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
}

.btn-black:hover{
	background: #454545;
	color:#FFF;
}

.link-black{
	color:#000;
	font-weight: bold;
}

hr{
	width: 100%; color: black; height: 2px; background-color:black;
}

.navbar-basic{
	margin-bottom: 0;
}

.navbar-basic .navbar-nav {
  display: inline-block !important;
  float: none!important;
  vertical-align: top !important;
}

.navbar-basic .navbar-collapse {
  text-align: center !important;
}
.navbar-basic .nav>li>a{
	line-height: 13px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 11px;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    color:#000;
}
.navbar-basic .nav>li>a:hover, .nav>li>a:focus{
	background: none;
	color: #ccc;
}

.footer-text{
	line-height: 12px;
    font-size: 10px;
    background-color: transparent;
    font-family: museo-sans, sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
    margin-top: 10px;
}

.article-title{
	font-family: museo-sans, sans-serif;
    font-weight: 600;
}

.article-content, .article-content ol li span{
	font-family: museo-sans, sans-serif !important;
    font-weight: 100;
    line-height: 12px;
    font-size: 12px !important;
}

.dropdown-menu{
	padding:0;
}

.dropdown-menu li a{
	margin: 0 !important;
}